<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cardgame">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CardGame">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDZjIfXw3DEGif7UMNiu9A-9rDQCBBxkKc" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


        <activity android:name=".utils.MyAlertDialog"></activity>
        <activity android:name=".activity.BaseActivity" />
        <activity
            android:name=".activity.ScoreActivity"
            android:configChanges="orientation|screenLayout|screenSize|layoutDirection"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.FinishActivity"
            android:configChanges="orientation|screenLayout|screenSize|layoutDirection"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.GameActivity"
            android:configChanges="orientation|screenLayout|screenSize|layoutDirection"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>